.hero__wrapper { 
    background-color: var(--main-bg-color);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero {
    padding: 40rem 0 10rem;
    text-align: center;
}
.hero .title {
    margin-bottom: 2rem;
    color: var(--sub-text-color);
    text-shadow: .3rem .3rem .3rem var(--second-brand-color);
}
.info__wrapper {
    background-image: url('../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
}

@media screen and (min-width: 1440px) {
   
    .hero {
        text-align: left;
    }
    .hero .title {
        font-size: 25rem;
    }
}
